body {
    background-color: #254263;
    color: #fff;
}

.container {
    display: table;
    height: 80%;
}

.main {
    padding: 40px 15px;
    text-align: center;
    
    display: table-cell;
    vertical-align: middle;
}

.modal {
    color: #191919;
}

.top-bar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 5px;
    background-color: #0078ff;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #0078ff;
}

.createpoll {
    background-color: #44cc46;
    border: none;
    
    padding: 18px 0;
}

.createpoll, #pollinfo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.copyright {
    position: fixed;
    
    bottom: 0;
    margin-bottom: 6px;
    margin-left: 4px;
}